Repository auto-optimization/eafpy: changes, and which Codecov flags are due for each by the changed paths.
All: tests, src

[build doc] build the doc with new updates
  doc/notebooks/plot_datasets.ipynb
Due: none

Separate plot code to plot.py.
  src/eafpy/__init__.py
  src/eafpy/eaf.py
  src/eafpy/plot.py
Due: src

fix typo
  src/eafpy/plot.py
Due: src

Added support for smoothed 3d surface graphs - issue #5, as well as point-surface graphs. Added some more formatting to graph types. Updated doc with examples [build doc]
  doc/dev/25_06_23.md
  doc/notebooks/plot_datasets.ipynb
  src/eafpy/plot.py
Due: src

[build doc] Added inital design for cube surface graph - issue #5
  doc/notebooks/plot_datasets.ipynb
  src/eafpy/plot.py
Due: src

Update README.md
  README.md
Due: none

read_datasets can read .xz files.
  src/eafpy/eaf.py
  tests/test_data/ALG_1_dat.xz
  tests/test_eaf.py
Due: tests, src

Implement IGD
  src/eafpy/__init__.py
  src/eafpy/build_c_eaf.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/igd.h
  tests/test_eaf.py
Due: tests, src

Implement igd_plus
  src/eafpy/__init__.py
  src/eafpy/build_c_eaf.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/igd.h
  tests/test_eaf.py
Due: tests, src

add average Hausdorff
  src/eafpy/__init__.py
  src/eafpy/build_c_eaf.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/igd.h
  tests/test_eaf.py
Due: tests, src

[build doc] build test new doc changes with deployment
  README.md
Due: none

Non dominated attemt (broken here) [skip ci]
  doc/examples/test_nondom.py
  src/eafpy/__init__.py
  src/eafpy/build_c_eaf.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/main.c
  src/eafpy/libeaf/nondominated.h
Due: src

fix is_nondominated
  .github/workflows/tests.yaml
  doc/examples/test_nondom.py
  src/eafpy/build_c_eaf.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/nondominated.h
  tests/test_eaf.py
Due: tests, src

Add is_nondominated tests. add filter_dominated. Update doc to nicer theme. Add some docstrings for read_datasets, igd etc. [build doc]
  doc/conf.py
  doc/eafpy.rst
  doc/modules.rst
  requirements_dev.txt
  src/eafpy/__init__.py
  src/eafpy/eaf.py
  tests/test_eaf.py
Due: tests, src

Experimentally change from python 3.8.17 to 3.9 to see if error in tests for is_nondominated persists (I can't reproduce it on my local machine [build doc]
  .github/workflows/tests.yaml
  tests/test_eaf.py
Due: tests

fix maximise
  src/eafpy/build_c_eaf.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/nondominated.h
Due: src

Update requirements.txt
  requirements.txt
Due: none

Update requirements_dev.txt
  requirements_dev.txt
Due: none

Add Epsilon #4, and update all indicators to new maximise + minmax function [build doc]
  doc/dev/05_06_23.md
  doc/dev/06_06_23.md
  doc/dev/07_06_2023.md
  doc/dev/08_06_23.md
  doc/dev/11_06_23.md
  doc/dev/12_06_23.md
  doc/dev/13_06_23.md
  doc/dev/14_06_23.md
  doc/dev/15_06_23.md
  doc/dev/16_06_23.md
  doc/dev/19_06_23.md
  doc/dev/20_06_23.md
  doc/dev/21_06_23.md
  doc/dev/22_06_23.md
  doc/dev/25_06_23.md
  src/eafpy/__init__.py
  src/eafpy/build_c_eaf.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/epsilon.h
  src/eafpy/libeaf/igd.h
  src/eafpy/libeaf/nondominated.h
  tests/test_eaf.py
Due: tests, src

Add normalise #4 with C function for find bounds, add test cases, add doc
  .vscode/settings.json
  src/eafpy/__init__.py
  src/eafpy/build_c_eaf.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/io.h.gch
  src/eafpy/libeaf/main.c
  src/eafpy/libeaf/nondominated.h
  tests/test_eaf.py
Due: tests, src

remove accidental artifacts [skip ci]
  .vscode/settings.json
  src/eafpy/libeaf/io.h.gch
Due: src

Add normalise #4 with C function for find bounds, add test cases, add doc
  tests/test_eaf.py
Due: tests

Add functions for normalising and filtering whole datasets within a set. Add convienence functions for getting a subset, as well as a data subset from a full dataset
  doc/examples/plot_datasets_examples.md
  src/eafpy/__init__.py
  src/eafpy/eaf.py
  tests/test_eaf.py
Due: tests, src

Add functions for normalising and filtering whole datasets within a set. Add convienence functions for getting a subset, as well as a data subset from a full dataset [build doc]
  src/eafpy/eaf.py
Due: src

Add feature for passing plotly layout arguments into plot_datasets using **kwargs. Add examples of changing the layout to the doc [build doc]
  doc/examples/plot_datasets_examples.md
  doc/examples/style_plots.md
  doc/index.rst
  src/eafpy/plot.py
Due: src

Fix typo with discrete_color_sequence [build doc]
  src/eafpy/plot.py
Due: src

add useful functions
  src/eafpy/plot.py
Due: src

Implement doctest
  src/eafpy/conftest.py
  src/eafpy/eaf.py
  src/eafpy/plot.py
  tox.ini
Due: src

Fix plot with lines
  src/eafpy/plot.py
Due: src

cleanup the code a bit
  src/eafpy/build_c_eaf.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/epsilon.h
Due: src

* test/test_eaf.py: Fix assert indentation.
  tests/test_eaf.py
Due: tests

Fix assert types
  src/eafpy/build_c_eaf.py
  src/eafpy/plot.py
  tests/test_eaf.py
Due: tests, src

Run coverage separately so it does not stop building the docs.
  .github/workflows/tests.yaml
  tox.ini
Due: none

fix github actions
  .github/workflows/tests.yaml
Due: none

Remove need for build doc tag to build the doc. Add make clean to build doc CI to make sure nothing gets through that isn't being built
  .github/workflows/tests.yaml
  README.md
  doc/eafpy.rst
  doc/examples/style_plots.md
  src/eafpy/eaf.py
  src/eafpy/plot.py
Due: src

Work on setting up EAF C files and python wrapper. Working on way of getting cumulative array from dataset (unfinished)
  src/eafpy/eaf.py
  src/eafpy/libeaf/eaf.h
  src/eafpy/libeaf/main.c
  src/eafpy/libeaf/nondominated.h
Due: src

Minor edits
  src/eafpy/eaf.py
Due: src

Path conditions:
  tests: any of: tests/**
  src: any of: src/**
