Repository auto-optimization/eafpy: changes, and which Codecov flags are due for each by the changed paths.
All: tests, src

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: tests  # this is an identifier that should not be changed
      name: tests  # this is a display name, and can be changed freely
      paths:
        - tests/**
      statuses:          
        - type: project
          target: 100%
          informational: false
        - type: patch
          
    - component_id: src
      name: src
      paths:
        - src/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          informational: true
        - type: patch

Makefile
  Makefile
Due: none

Improve Makefile
  Makefile
Due: none

Update README.md
  README.md
Due: none

Eaf function - debugging and testing stuff. (Commit not working)
  src/eafpy/build_c_eaf.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/a.exe
  src/eafpy/libeaf/a.out
  src/eafpy/libeaf/eaf.c
  src/eafpy/libeaf/eaf.h
  src/eafpy/libeaf/eaf3d.c
  src/eafpy/libeaf/input1.dat
  src/eafpy/libeaf/main.c
Due: src

More debugging + add use_percentiles bool
  src/eafpy/build_c_eaf.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/eaf.c
  src/eafpy/libeaf/eaf.h
Due: src

Add some prototype ideas for heatmap
  doc/examples/heatmap_prototype.md
  doc/examples/test_nondom.py
  doc/index.rst
Due: none

Improve the way that levels and percentiles are managed in the C helper function (untested)
  src/eafpy/libeaf/eaf.c
Due: src

Clean up eaf, add tests + doc. eaf3d.c is broken For MSVC because it uses Variable length arrays
  eaf_spherical-250-10-3d.npy
  src/eafpy/__init__.py
  src/eafpy/build_c_eaf.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/a.exe
  src/eafpy/libeaf/a.out
  src/eafpy/libeaf/eaf.c
  src/eafpy/libeaf/eaf.h
  tests/test_data/expected_output/eaf_input1.npy
  tests/test_data/expected_output/eaf_spherical-250-10-3d.npy
  tests/test_eaf.py
Due: tests, src

test the output with allocated memory for eaf3d
  src/eafpy/libeaf/eaf3d.c
Due: src

Update Readme
  README.md
  tests/test_data/expected_output/generate-expected-output.py
Due: tests

#9 Add a pytest test that runs doctest for eaf and fix some of the docstring examples
  src/eafpy/eaf.py
  tests/test_eaf.py
Due: tests, src

Improve EAF plot code and combine all traces to one trace. Improve colour handling
  src/eafpy/plot.py
Due: src

Add prototype for eaf plot -maximise
  src/eafpy/plot.py
Due: src

New improvements for EAF plot, including adding opacity gradient
  pyproject.toml
  src/eafpy/plot.py
Due: src

Add colours module implementing methods for calculating discrete colour gradient compatible with plotly colorscales. Add line/border colour argument for eaf_plot. Minor doc improvements
  doc/eafpy.rst
  doc/examples/eaf_plot_prototype.md
  src/eafpy/build_c_eaf.py
  src/eafpy/colour.py
  src/eafpy/eaf.py
  src/eafpy/plot.py
  tests/test_eaf.py
Due: tests, src

Logging working eaf3df C files for debugging dynamic allocation version in other branch
  setup.cfg
  src/eafpy/libeaf/eaf3d.c
  tests/address_working_eaf.txt
  tests/test_eaf.py
Due: tests, src

Remove eaf3d from compilation for now, prepare for main branch
  doc/examples/eaf_plot.md
  doc/examples/style_plots.md
  doc/index.rst
  setup.cfg
  src/eafpy/__init__.py
  src/eafpy/build_c_eaf.py
  src/eafpy/colour.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/eaf.h
  src/eafpy/plot.py
  tests/address_working_eaf.txt
  tests/test_eaf.py
Due: tests, src

Merge 2d eaf development branch
  eaf_spherical-250-10-3d.npy
  requirements.txt
  requirements_dev.txt
Due: none

* Fix normalise.
  src/eafpy/build_c_eaf.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/nondominated.h
  tests/test_eaf.py
Due: tests, src

Use tox to un sphinx-apidoc
  .github/workflows/tests.yaml
  doc/eafpy.rst
  tox.ini
Due: none

Add internal functions to _utils.py.
  doc/conf.py
  doc/eafpy.rst
  src/eafpy/_utils.py
  src/eafpy/eaf.py
  tox.ini
Due: src

Do not use sphinx.ext.intersphinx
  doc/conf.py
Due: none

Add diff eaf function - it is segfaulting a lot and the output is in the wrong order [skip ci]
  doc/examples/style_plots.md
  src/eafpy/build_c_eaf.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/eaf.c
  src/eafpy/libeaf/eaf.h
  src/eafpy/plot.py
Due: src

Add __version__. Fix docstrings.
  Makefile
  pyproject.toml
  src/eafpy/__init__.py
  src/eafpy/eaf.py
Due: src

Fix documentation
  src/eafpy/eaf.py
Due: src

Use relative imports within the package.
  src/eafpy/__init__.py
  src/eafpy/plot.py
Due: src

Reorganize the documentation.
  Makefile
  doc/api/eafpy.colour.rst
  doc/api/eafpy.eaf.rst
  doc/api/eafpy.plot.rst
  doc/api/eafpy.rst
  doc/api/index.rst
  doc/conf.py
  doc/eafpy.rst
  doc/examples/index.rst
  doc/index.rst
  doc/modules.rst
  tox.ini
Due: none

improve docs
  src/eafpy/eaf.py
Due: src

remove redundant information in setup
  pyproject.toml
  requirements.txt
  setup.py
  tox.ini
Due: none

Undo previous changes
  pyproject.toml
  setup.py
Due: none

setup.py: Remove install_requires.
  setup.py
Due: none

Add quick start example for user
  README.md
Due: none

Consolidate the EAF filled area plot into plot_datasets and fix some problems with how to colorscales work
  src/eafpy/colour.py
  src/eafpy/eaf.py
  src/eafpy/libeaf/eaf.c
  src/eafpy/plot.py
Due: src

Added functionality for combining multiple datasets and plot types into one graph with dictionary. TODO fix styling and add examples
  doc/eafpy.rst
  doc/modules.rst
  src/eafpy/colour.py
  src/eafpy/eaf.py
  src/eafpy/plot.py
Due: src

eaf3d.c: Remove VLAs.
  src/eafpy/libeaf/eaf3d.c
Due: src

* setup.py: Remove setup_requires.
  pyproject.toml
  setup.py
Due: none

Improve dictionary interface, add styling and examples. Still TODO: Add ability to customise dash/dotted lines Add a better default template
  doc/examples/eaf_plot.md
  doc/examples/index.rst
  doc/examples/style_plots.md
  src/eafpy/__init__.py
  src/eafpy/colour.py
  src/eafpy/eaf.py
  src/eafpy/plot.py
Due: src

Add features to eaf_plot: Change line dash type per trace, change line width per trace
  doc/examples/eaf_plot.md
  src/eafpy/_utils.py
  src/eafpy/colour.py
  src/eafpy/plot.py
Due: src

Add simple interface for customising the legend + example. Change default eaf plot template to white. Add custom CSS to docs making the main content area a bit larger so that plots look nicer
  doc/_static/css/custom.css
  doc/conf.py
  doc/examples/eaf_plot.md
  src/eafpy/colour.py
  src/eafpy/plot.py
Due: src

Small changes eaf example page
  doc/examples/eaf_plot.md
  doc/examples/style_plots.md
Due: none
